In [13]:
import pandas as pd 
import numpy as np
import matplotlib.pyplt as plt
import scipy.stats

,State_FIPS_code,State,Compound,Year,Units,Corn,Soybeans,Wheat,Cotton,Vegetables_and_fruit,Rice,Orchards_and_grapes,Alfalfa,Pasture_and_hay,Other_crops,Unnamed: 15
0,1,Alabama,"2,4-D",1992,kg,3775.1,NaN,5129.4,NaN,30.3,NaN,133.7,NaN,60348.5,6837.5,76254.5
1,1,Alabama,"2,4-D",1993,kg,3950.6,NaN,14390.0,NaN,NaN,NaN,NaN,NaN,53527.4,20476.1,92344.1
2,1,Alabama,"2,4-D",1994,kg,3324.3,66.7,103.4,NaN,12.3,NaN,NaN,NaN,50899.0,15173.9,69579.6
3,1,Alabama,"2,4-D",1995,kg,855.3,1832.5,4560.5,NaN,4.0,NaN,312.5,NaN,61755.0,10223.2,79543.0
4,1,Alabama,"2,4-D",1996,kg,3018.9,21210.5,6107.7,3548.9,32.2,NaN,216.8,NaN,107006.3,6212.6,NaN

In [28]:
#pestdata = pd.read_csv('MSI Data - PesticideData.csv')

#pestdata.head()

,State_FIPS_code,State,Compound,Year,Units,Corn,Soybeans,Wheat,Cotton,Vegetables_and_fruit,Rice,Orchards_and_grapes,Alfalfa,Pasture_and_hay,Other_crops,Unnamed: 15
0,1,Alabama,"2,4-D",1992,kg,3775.1,NaN,5129.4,NaN,30.3,NaN,133.7,NaN,60348.5,6837.5,76254.5
1,1,Alabama,"2,4-D",1993,kg,3950.6,NaN,14390.0,NaN,NaN,NaN,NaN,NaN,53527.4,20476.1,92344.1
2,1,Alabama,"2,4-D",1994,kg,3324.3,66.7,103.4,NaN,12.3,NaN,NaN,NaN,50899.0,15173.9,69579.6
3,1,Alabama,"2,4-D",1995,kg,855.3,1832.5,4560.5,NaN,4.0,NaN,312.5,NaN,61755.0,10223.2,79543.0
4,1,Alabama,"2,4-D",1996,kg,3018.9,21210.5,6107.7,3548.9,32.2,NaN,216.8,NaN,107006.3,6212.6,NaN

In [54]:
j=0
for i in pestdata['Year']:
    if i != 2016:
        pestdata = pestdata.drop(pestdata.index[j])
        j-=1
    j+=1

In [57]:
pestdata.head()

,State_FIPS_code,State,Compound,Year,Units,Corn,Soybeans,Wheat,Cotton,Vegetables_and_fruit,Rice,Orchards_and_grapes,Alfalfa,Pasture_and_hay,Other_crops,Unnamed: 15
24,1,Alabama,"2,4-D",2016,kg,33318.8,24407.8,9714.2,2355.9,NaN,NaN,251.3,NaN,267583.7,1251.4,NaN
49,1,Alabama,"2,4-DB",2016,kg,NaN,NaN,NaN,578.4,NaN,NaN,NaN,20.7,NaN,22602.9,NaN
66,1,Alabama,6-BENZYLADENINE,2016,kg,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
78,1,Alabama,ABAMECTIN,2016,kg,NaN,NaN,NaN,52.1,NaN,NaN,21.4,NaN,NaN,NaN,NaN
103,1,Alabama,ACEPHATE,2016,kg,NaN,1002.8,NaN,17060.7,NaN,NaN,NaN,NaN,NaN,10222.2,NaN

In [59]:
pestdata.to_csv('revisionOnePesticideData.csv', index=False)

In [17]:
def createScatterplot(d1, d2):
    plt.scatter(d1, d2)
    plt.show()

tset

In [ ]:
def performCorrelationTest(d1, d2):
    correlation = np.corrcoef(d1, d2)